*{
  margin: 0;
}


body{
    font-family: sans-serif;
    width: 100vw;
    text-align: right;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

#nav-bar {
    display: flex;
    justify-content:flex-end;
    position: flex-end;
    top: 0;
    width: 100vw;
    background-color: #eff0f3;
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: sans-serif;

}
.nav-links  a {
    text-decoration: none;
    padding: 0 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

#welcome-section{
    min-height: 100vh;
    padding: 70px;
    img:
}

.nav-btn{
    background-color: #2a2a2a;
    color: #fff;
    padding: 5px,2 px;
    border-radius: 10px;
}