:root {
    --body-text: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --header-text: 'Rubik Mono One', sans-serif;
    --light: white;
    --dark: black;
    --lowlight: grey;
    --highlight: rgb(14, 15, 32);
    font-size: 16px;
} 

* {
    font-family: var(--body-text)
}

header {
    position: relative;
}

body {
    display:grid;
    grid-template-rows: 5em 90vh auto 10em;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "header header header"
        "hero hero hero"
        ". main ."
        "footer footer footer";
}

header {
    grid-area: header;
    background-color: pink;
}
#hero {
    grid-area: hero;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* ----------------- Menu toggle to reveal nav links ----------------- */
#toggle, #close {
    position: absolute;
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: var(--dark);
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    padding: 0.3rem;
    z-index: 998;
    transition: padding-top 500ms ease;
    transition: color 1200ms ease;
}

#toggle.expand {
    padding-top: 2em;
    padding-bottom: 0.3rem;
    color: var(--lowlight);
}

#toggle::before, #toggle::after {
    content:"";
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0; 
    background-color: var(--lowlight);
}
#toggle::before{
    top: -0.1rem;
}
#toggle::after{
    top: 100%;
}
#close {
    opacity:0;
    transition: opacity 50ms forwards;
    margin-top: 2px;
    border: 1px solid pink;
}

#close.reveal{
    z-index: 2;
    opacity: 1;
    color: var(--light);
}
#screen {
    position: fixed;

}
#screen, #menu-container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--highlight);
    height: 0;
    transition: height 800ms ease;
    display: flex;
    flex-direction: column;
    align-items:center;

}

#screen.reveal {
    height:100svh;
}

li {
    list-style-type: none;
    margin: 1rem;
    color: var(--light);
}

#menu-container {
    transform: translateY(-220%);
    height: fit-content;
    width: 97%;
}

a {
    color: var(--light);
    text-decoration: none;

}
a:hover {
   cursor: pointer;
}
 
.nav {
    font-size: 1.6rem;
}

@keyframes lower {
    to {
        transform: translateY(0);
    }
}

#menu-container.reveal {
    opacity: 1;
    animation: lower 800ms forwards ease;
}


/* -------------------- hero section -------------- */
.portfolio-title {
    position: absolute;
    margin-top: 5%;
    left: 10%;
    font-size: 1.2rem;
    opacity: 0;
    animation: display 1s 2s forwards;
}

@keyframes display {
    to {
        opacity: 1;
    }
}


.animate-name{
    /* background-color: aqua; */
    height: 100svh;
    /* padding-top: 7%; */
    text-align: center;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .animate-name .wrapper .item {
    height: 500px;
    z-index: 1;
} */

.wrapper{
    overflow: hidden;
}

.animate-name span:nth-child(1){
    transform: translate(-55%, 150%);
    animation: fill 1s 1.9s forwards;
}

@keyframes fill {
    to {
        color: rgba(0,0,0,1);
    }
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: #fff;
    z-index: 10;
    transform: translateX(0%);
    animation: overlay-slide 2s forwards;
}
@keyframes overlay-slide {
    to { 
        transform: translateX(101%);
   }
}

.animate-name span:nth-child(2) {
    z-index: 0;
    transform: translateX(0%);
    scale: 0;
    animation: img-slide 350ms linear forwards, scale 1s 1.6s forwards ease;
}
.animate-name span:nth-child(3) {
    z-index: 0;
    transform: translateX(5%);
}

@keyframes img-slide{
    to {
        transform: translateX(50%);
    }
}

@keyframes scale {
    to {
        scale: 1;
    }
}
.name{
    font-family: 'Rubik Mono One', sans-serif;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px rgba(0,0,0,1);
    text-stroke: 1px rgba(0,0,0,1);
    font-size: 5rem;
    width: 100%;;
    z-index: -9;
}


#face {
height:200px;
width: 200px;
}

/* ------------ general  ------------- */
.section-hidden {
    opacity: 0;
    transition: opacity 2s;
    min-height: 100vh;
}

.show {
    opacity: 1;
}


.section-heading {
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 10px;
    font-family: var(--header-text);
    font-size: 2rem;
}


/* ------------ MAIN   ------------- */
.projects-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20em 20em;
    grid-template-columns: 2fr 2fr;
    gap: 0.8em;

}
.card {
    margin: 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.img-icon {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.btn {
    border-radius: 25px;
    padding: 0.3rem 0.5rem;
    color: var(--light);
    background-color: var(--lowlight);
    box-shadow: 2px 2px 5px var(--dark);
    font-family: var(--main-text);
}

.btn:hover{
    cursor: pointer;
}

.project-title {
    font-weight: bold;
}

.projects-container p {
    min-height: 80px;
}


/* ------------ about me section  ------------- */
.about-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}

.about-text {
    margin-top:10%;
    width: 40%;
    /* border: 1px solid red; */
}

.about-img{
    margin:10% 0;
    width: 30%;
    /* border: 1px solid red; */
}
.icons{
    display: flex;
    gap: 2em;
    margin-left: 25%;

    /* justify-content: center; */
}
/* ------------ connect section  ------------- */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
    padding: 1.6em 2em;
    width: 50%;
}
textarea::placeholder {
    padding-top: 0.7rem;
}
textarea::placeholder, #email::placeholder{
    text-align: center;
    font-family: var(--main-text);
}
.input{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}


.msg {
    height: 10rem;
}

.email {
    height: 1.8rem;
}
.submit {
    padding: 0.35rem 0.7rem;
}

.icon {
    height: 30px;
    width: 30px;
}


.email {
    height: 1.2rem;
    width: auto;
}
.copy {
    filter: invert(100%);
}

.copy:hover{
    cursor: pointer;
}

.copy.hide {
    display: none;
}

.tick, .copy-message {
    display: none;
    color: var(--lowlight);
    filter: invert(100%);
}
.tick.reveal, .copy-message.reveal {
    display: inline;
}
/* ------------ footer  ------------- */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background-color: var(--dark);
    font-size: 0.7rem;

}

/* ------------ responsive  ------------- */
@media (max-width: 850px) { 
    .section-heading{
        font-size: 1.6rem;
    }   
    .animate-name span:nth-child(1){
        transform: translate(0%, 0%);
    }
    @keyframes img-slide{
        to {
            transform: translateX(0%);
        }
    }
    .item {
        padding: 30% 0%;
    }

    @keyframes scale {
        to {
            scale: 1.5;
        }
    }

    .about-container  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-container img{
        display: none;
    }
    .about-text { 
        width: 75%;
    };

    .form-container {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .name {
        font-size: 3rem;
    }
    @keyframes scale {
        to {
            scale: 1.3;
        }
    }
}

