:root {
    --body-text: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --header-text: "Recursive", sans-serif;
    --light: white;
    --dark: #3B2C27;
    --lowlight: grey;
    --highlight: rgb(14, 15, 32);
    font-size: 16px;
} 

* {
    font-family: var(--body-text);
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

body {
    display:grid;
    grid-template-rows: 5em 100vh auto 10em;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-areas: 
        "header header header"
        "hero hero hero"
        ". main ."
        "footer footer footer";
    max-width: 80%;
    grid-gap: 0;
}

.mid {
    display: flex;
    align-items: center;
}

header {
    grid-area: header;
    width: 100%;
}

#hero {
    grid-area: hero;
    height: 100vh;

}
main {
    grid-area: main;
    /* margin-top: 6em; */
}

section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
footer {
    grid-area: footer;
}


/* ----------------- NAV BAR ----------------- */
#logo {
    max-width:200px;
    aspect-ratio: 4 /3;
    object-fit: cover;
    position:fixed;
    border-radius: 4px;
}

/* clicking on 'MENU" trigers a hamburger motion. Menu shifts down to reveal "CLOSE".
Also the "MENU" and "CLOSE" change color to highlight what is active.
A line above and below the nav toggle is styled here also. */

/* MENU & CLOSE Buttons */
#toggle, #close {
    right: 2em;
}

#toggle, #close {
    position: absolute;
    position: fixed;
    top: 2rem;
    color: var(--dark);
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    z-index: 998;
    transition: padding-top 600ms ease-in-out;
    transition: color 800ms ease-in;
}


#toggle.expand {
    padding-top: 1.5em; /* "menu" shifts down */
    color: var(--lowlight); /*  "menu" changes to grey as the menu is in expand position*/
}

#toggle::before, #toggle::after {
    content:"";
    position:absolute;
    width: 100%;
    height: 2px;
    left: 0; 
    background-color: var(--lowlight);
}
#toggle::before{
    top: -0.1rem;
}
#toggle::after{
    top: 100%;
}
#close {
    opacity:0;
    transition: opacity 500ms forwards;
}

#close.reveal{
    z-index: 2;
    opacity: 1;
    background-color: var(--highlight);
    color: var(--light);
}
#screen {
    position: fixed;
    width: 100%;
}
 #menu-container {
    z-index: 1;
    transition: height 900ms ease; 
    text-align: right;    
}

#menu-container {
    transform: translateY(-220%); /* shifts the menu downwards into view*/
    width: 100%;
}

#screen.reveal {
    margin-top: 10em;
    margin-right: 2em;
    height:25svh;
}

.nav-link {
    font-size: 2rem;
    list-style-type: none;
    margin: 0.2em;

}

.nav-link:hover{
    background-color: var(--highlight);
    color: var(--light);
}

li {
    list-style-type: none;
    color: var(--dark);
    width: 85%;
    right: 0;
}

a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
   cursor: pointer;
}
 
.nav {
    font-size: 1.6rem;
}

@keyframes lower {
    to {
        transform: translateY(0);
    }
}

#menu-container.reveal {
    opacity: 1;
    animation: lower 800ms forwards ease;
}


/* -------------------- HERO Animations -------------- */
.portfolio-title {
    position: absolute;
    /* margin-top: 5%; */
    /* left: 50%; */
    font-size: 1.2rem;
    opacity: 0;
    animation: display 1s 2s forwards;
}

@keyframes display {
    to {
        opacity: 1;
    }
}

.animate-name{
    /* height: 100svh; */
    text-align: center;
    z-index: -10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    overflow: hidden;
}

.animate-name span:nth-child(1){
    transform: translate(-55%, 150%);
    animation: fill 1s 1.9s forwards;
}

@keyframes fill {
    to {
        color: var(--dark);
    }
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: #fff;
    z-index: 10;
    transform: translateX(0%);
    animation: overlay-slide 2s forwards;
}
@keyframes overlay-slide {
    to { 
        transform: translateX(101%);
   }
}

.animate-name span:nth-child(2) {
    z-index: 0;
    transform: translateX(0%);
    scale: 0;
    animation: img-slide 350ms linear forwards, scale 1s 1.6s forwards ease;
}
.animate-name span:nth-child(3) {
    z-index: 0;
    transform: translateX(5%);
}

@keyframes img-slide{
    to {
        transform: translateX(50%);
    }
}

@keyframes scale {
    to {
        scale: 1;
    }
}
.name{
    font-family: 'MuseoModerno', sans-serif;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px var(--dark);
    text-stroke: 1px var(--dark);
    font-size: 5rem;
    width: 100%;;
    z-index: -9;
}

#face {
max-height:200px;
max-width: 200px;
}

/* ------------ general  ------------- */

/* making each section fade in as they are scrolled on */
.section-hidden {
    opacity: 0;
    transition: opacity 2s;
    min-height: 100vh;
}

.show {
    opacity: 1;
}

.section-heading {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--header-text);
    font-size: 3rem;
    padding: 1em;
}


/* -------------------------------- MAIN   --------------------------------- */
/* ------------ PROJECTS section   ------------- */
.projects-container {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr;
    gap: 2em;
    justify-content: center;

}

@media screen and  (min-width: 650px) {
    .projects-container {
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 2em;
        justify-content: center;
    }
    .img-icon {
        min-width: 10px;
        max-width: 200px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        border-radius: 3px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.img-icon {
    min-width: 10px;
    max-width: 280px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-icon:hover, .social-btn:hover {
    box-shadow: rgba(204, 204, 251, 0.98) 0px 7px 29px 0px;

}


/* ------------ ABOUT section  ------------- */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-container {
    padding-bottom: 10px;
    margin-bottom: 1em;
    padding-top: 2em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "text text text text photo photo" 
     "skills  skills skills skills skills skills";
     gap: 2em;
}

.about-text {
    grid-area: text;
    padding: 0 1em 0 0.8em;
    font-size: 1.3rem;
}

.skills-container{
    grid-area: skills;
    margin: 3em em 0 3em;
    padding: 1em 0 2em 0;
    display: grid;
    grid-template-rows: 3em 3em;
    grid-template-columns: 1fr 1fr 1fr;   
}
.photo {
    grid-area: photo;
    max-height: 250px;
    aspect-ratio: 3/ 4;
    object-fit: cover;
    border-radius: 4px;
    margin: 0 0 0 2em;

}
h4 {
    padding-left: 40px;
    margin-bottom: 1em;
    font-weight: 900;
    font-size: 1.3rem;
}
li {
    font-size: 1.2rem;
}
/* ------------ CONTACT section  ------------- */

.connect {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
}

.coffee { 
    margin-top: 2em;
    width: 50%;
    padding:1em;
}

.coffee:hover {
    background-color: var(--highlight);
    color: var(--light);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#form-container {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6em 2em;
    width: 80%;
}

.reveal-form {
    display: block;
}

#full-name::placeholder, textarea::placeholder, #email::placeholder{
    text-align: center;
    font-family: var(--main-text);
}
.input{
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid var(--dark);
    box-shadow: rgba(72, 72, 72, 0.1) 0px 4px 12px;
}

#full-name, #email, #message, #submit{
    width: 100%;
    padding-top: 0.7em;
    padding-left: 0.3em;
    padding-bottom: 0.7em;
}

#submit {
    width: 100%;

}
.social-btn {
    margin: 2em 0.5em 2em 0.5em;
    font-size: 3rem;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.7em;
}

.social-btn:hover {
    box-shadow: rgba(204, 204, 251, 0.98) 0px 10px 29px 0px;
    background-color: var(--highlight);
    cursor: pointer;
    color: var(--light);
}
/*------------------------------------- Footer -------------------------------------*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background-color: var(--lowlight);
    width: 100%;
}
/* ------ nav return always on show ------ */
#return-btn {
    padding: 0.6em 0.6em 0 0.6em;
    font-size: 3rem;
    position: absolute; 
    position: fixed;
    background-color: var(--lowlight);
    bottom: 0.2em;
    right: 1em;
    border-radius: 15% 15% 0 0;
}

#return-btn:hover {
    background-color: var(--highlight);
    cursor: pointer;
    color: var(--light)
}
/* ------ footer items ------ */
.icon {
    font-size: 3rem;
    padding: 0.3em;
    border-radius: 50%;
    margin: 0 1em 0 1em;
    color: var(--light);
}
.icon:hover {
    box-shadow: rgba(226, 226, 228, 0.98) 0px 10px 29px 0px;
}

#copy:hover{
    cursor: pointer;
}

#my-email {
    display:none;
}

#tick, #copy-message {
    display: none;
}
/* for email copying */
#copy.hide {
    display: none;
}

#tick.unhide, #copy-message.unhide {
    display: inline;
    width: 10px;
}
#copy-message, #tick{
    font-size: 0.8rem;
    display: absolute;
    color: var(--highlight);
}
/* ---------------------------------------------- responsive  ----------------------------------------------------- */
@media (max-width: 850px) { 
    .animate-name span:nth-child(1){
        transform: translate(0%, 0%);
    }
    @keyframes img-slide{
        to {
            transform: translateX(0%);
        }
    }
    .item {
        padding: 30% 0%;
    }

    @keyframes scale {
        to {
            scale: 1.5;
        }
    }

    /* .about-container img{
        display: none;
    } */

    .form-container {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .name {
        font-size: 3rem;
    }
    @keyframes scale {
        to {
            scale: 1.3;
        }
    }
}

